### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Java ###
*.class
*.log
*.lock
*.jar
*.war
*.nar
*.ear
hs_err_pid*
replay_pid*

### Test Output ###
videos/
screenshots/
*.png
*.webm
*.mp4

### OS ###
.DS_Store
Thumbs.db